body {
  background-image: url('heaven.jpg');
  background-position: center;
  background-size: cover;
}

.box-information {
  margin: 0 auto 15px auto;
  padding: 0 10px 10px 10px;
  width: 80%;
  position: relative;
}

.buttonpair {
  text-align: center;
}

.button {
  width: 9em;
  display: inline-block;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 0.5em;
  background-color: #e65c00;
  font-size: 1.0em;
  text-indent: 0;
  text-align: center;
  color: #eeeeee;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left:auto;
  margin-right:auto;
}

.title {
  text-align: center;
  font-size: 2.75em;
  color: #000000;
  text-shadow: 1px 1px 2px #e65c00, 0 2px 6px #ffffff, 0 3px 6px #1f4060;
  font-family: "Georgia" sans-serif;
}
.date {
  text-align: center;
  font-size: 1.5em;
  color: #e65c00;
  text-shadow: 1px 1px 2px #000000, 0 2px 6px #ffffff, 0 3px 6px #1f4060;
  font-family: "Georgia" sans-serif;
}

.artist {
  text-align: center;
  font-size: 2.5em;
  color: #e65c00;
  text-shadow: 1px 1px 2px #000000, 0 2px 6px #ffffff, 0 3px 6px #1f4060;
  font-family: "Georgia" sans-serif;
}

.song {
  text-align: center;
  font-size: 1.75em;
  color: #e65c00;
  text-shadow: 1px 1px 2px #000000, 0 2px 6px #ffffff, 0 3px 6px #1f4060;
  font-family: "Georgia" sans-serif;
}

.footer {
  text-align: center;
  font-size: 1em;
  color: #000000;
  text-shadow: 1px 1px 2px #e65c00, 0 2px 6px #ffffff, 0 3px 6px #1f4060;
  font-family: "Georgia" sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .title{
    font-size: 2em;
  }
  
  .date{
    font-size: 1em;
    height: 2em;
  }
  
  .artist{
    font-size: 1.25em;
    height: 2em;
  }
  .song {
    font-size: 1.25em;
    height: 2em;
  }
}